@{
    ViewData["Title"] = "Hata";
    Layout = null; // Default layout kullanılmıyor
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <style>
        body {
            background: linear-gradient(135deg, #ff0000, #ff4500, #ff8c00);
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: 'Arial', sans-serif;
        }

        .error-page {
            background-color: rgba(0, 0, 0, 0.7); /* Şeffaf siyah arka plan */
            border-radius: 10px;
            text-align: center;
            padding: 40px;
            max-width: 500px;
            width: 100%;
        }

            .error-page h1 {
                font-size: 3rem;
                color: #ffff;
                margin-bottom: 20px;
            }

            .error-page p {
                font-size: 1.5rem;
                margin-bottom: 20px;
            }

            .error-page a {
                display: inline-block;
                padding: 10px 20px;
                font-size: 1.2rem;
                color: #ffff;
                background: linear-gradient(135deg, #ff0000, #ff4500, #ff8c00);
                border-radius: 5px;
                text-decoration: none;
                transition: background-color 0.3s ease, transform 0.3s ease; /* Geçiş ve transform efekti */
            }

                .error-page a:hover {
                    background-color: #ffcccb;
                    transform: scale(1.05); /* Hover sırasında butonu büyütme efekti */
                }
    </style>
</head>
<body>
    <div class="error-page">
        <h1>Bir Hata Oluştu</h1>
        <p>Beklenmeyen bir hata meydana geldi. Lütfen daha sonra tekrar deneyiniz.</p>
        <p><a href="/">Ana Sayfaya Dön</a></p>
    </div>
</body>
</html>
